<!DOCTYPE html> <!--Indica aos navegadores ou programas que vão acessar o arquivo que ele é um html.-->
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Next Level Week</title>
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">

    <!--O atributo defer é usado para indicar ao navegador que o script deve ser executado após todo o resto do código ter sido executado-->
    <script src="/scripts/addField.js" defer></script>
    
</head>

<body id="page-give-classes">

    <div id="container">
        <header class="page-header">            
            <div class="top-bar-container">
                <a href="/">
                <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <!--Texto em negrito-->
                <strong>Que incrível que você quer dar aulas!</strong>
                <p>O primeiro passo é preencher o formulário abaixo</p>
            </div>
        </header>

        <main>
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset>
                    <legend>Seus dados</legend>

                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <!--O formulário não será enviado se um elemento com required não for preenchido-->>
                        <input name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link da sua foto<small>(começe com http://)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp<small>(somente números)</small></label>
                        <input type="whatsapp" id="whatsapp" type="number" required>
                    </div>

                    <div class="text-area-block">
                        <label for="bio">Biografia</label>
                        <!--Caixa de texto-->
                        <textarea name="bio" id="bio" required></textarea>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Sobre a aula</legend>

                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>
                            
                            {%for subject in subjects%}
                                <option value="{{loop.index}}">{{subject}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="cost">Custo da hora/aula <small>(R$)</small></label>
                        <input name="cost" id="cost" type="number">
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo horário</button>
                    </legend>
                    
                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>

                            <select name="weekday[]">
                                <option value="">Selecione uma opção</option>
                                
                                {%for weekday in weekdays%}
                                <option value="{{loop.index0}}">{{weekday}}</option>
                                {%endfor%}
                            </select>                            
                        </div>

                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>
                        
                        <div class="input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>
                    </div>
                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Aviso">
                    Importante! <br> Preencha todos os dados
                </p>

                <!--form indica qual formulário um botão submit deve enviar-->
                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>
        </main>
    </div>
    <!--A tag script deve ficar no final pois o resto do código precisa ser executado para ter uma propriedade aplicada. No caso, não é possível mudar a cor de fundo de um container que ainda não foi criado
    <script>
        document.querySelector("#container").style.backgroundColor = "red";
    </script>
    -->
</body>
</html>